.popup__input {
  padding: 0 0 7px;
  border-style: inset; 
  margin-bottom: 33px;
  border: none;
  display: inline-block;
  border-bottom: 1px solid #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  transition: 0.2s ease;
  outline: none;
}

@media screen and (max-width: 600px) {
  .popup__input_name {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .popup__input_profession {
    margin-bottom: 45px;
  }
}
