.popup__title {
  margin: 0;
  width: 330px;
  font: 900 24px /29px 'Inter', Arial, sans-serif;
  padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .popup__title {
      font: 900 18px /22px 'Inter', Arial, sans-serif;
      padding-bottom: 75px;
  }
}
